<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjAxx4v2Kp5r2owCGRK5d-0OEfOvvRpsw</string>
	<key>GCM_SENDER_ID</key>
	<string>746357168696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonjin.coak</string>
	<key>PROJECT_ID</key>
	<string>acacia-choir-part-practice</string>
	<key>STORAGE_BUCKET</key>
	<string>acacia-choir-part-practice.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746357168696:ios:6ad005bb3a8e2757ec24cd</string>
</dict>
</plist>